{% extends "global/GlobalWelcome.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<!-- meta data about the participants, detected in the global document 'GlobalWelcome.html' -->
<input id="device_type" type="hidden" name="device_type" />
<input id="operating_system" type="hidden" name="operating_system" />
<input id="screen_height" type="hidden" name="screen_height" />
<input id="screen_width" type="hidden" name="screen_width" />


<!-- persist-raw script input -->
<script src="{% static 'persist-raw.js' %}"></script>

<br>
<h2> Survey Example </h2>
<hr>

<div class='bg-success'>Welcome to the first session of the tutorial. Here we are just going to have a look at the very
    basic structure of otree.</div>

<!-- This is the most basic way of implementing an input field -->
{{ formfield "entry_question"}}

<p><b>Are you eligible to take part in this survey??</b></p>
<input type="radio" name="eligible_question" value="1" class="persist"/> Yes
<br>
<input type="radio" name="eligible_question" value="2" class="persist"/> No
<br>


<!-- you might see that this button looks differnt. It is because we used bootstrap classes
to customize it. Bootstrap classes are essentially a premade layout that you can just 'load'
by including it in the class. you can find more options on their website:
https://getbootstrap.com/docs/5.2/components/buttons/.
They also have more options for other elements -->
<button class="otree-btn-next btn btn-outline-success next-button otree-next-button">
    Next
</button>

{% endblock %}