{% extends "global/GlobalPopout.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
<script>
    //Get variables needed for our popout
    var petYes = document.getElementById('petYes');
    var divYes = document.getElementById('divYes');
    var petNo = document.getElementById('petNo');
    var divNo = document.getElementById('divNo');

    // POPOUT: we are going to create a popout function that displays text only if some value is given in another question
    function popout() {
        console.log('searching for the elements')
        //the conditions and the implementation of showing the text
        if (petYes.checked == true) {
            console.log('yes');
            divNo.style.display = "none";
            divYes.style.display = "block";
        }
        if (petNo.checked == true) {
            console.log('no');
            divYes.style.display = "none";
            divNo.style.display = "block";
        }
    }
</script>
{% endblock %}



{% block content %}
<!-- this is how we implement a time taking variable  -->
<input id="time_popout" type="hidden" name="time_popout" />
<br>
<h2> Survey Example </h2>
<hr>
This is a page with popout questions and a retrieved timestamp.


<div>
    <p><b>Did you pet a cat in your life before?</b></p>
    <div><input id="petYes" type="radio" name="popout_question" value="1" onclick="popout()" /> Yes</div>
    <div><input id="petNo" type="radio" name="popout_question" value="2" onclick="popout()" /> No</div>
    <br>
</div>

<!-- question asked if they petted a cat before -->
<div id="divYes" style="display: none">
    <p>Did you enjoy it?</p>
    <input type="text" name="popout_yes" />
    <br>
</div>

<!-- question asked if they didn't pet a cat yet -->
<div id="divNo" style="display: none">
    <p>Are you willing to try petting a cat?</p>
    <input type="text" name="popout_no" />
    <br>
</div>

<br>
<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Next
</button>

{% endblock %}