
{%block style %}
<!--this block is used to do the styling-->

<!--set display none, that the title you use just appears in tab but not on page, so the page title and the tab-title
    can be different -->

<!--the extable will be needed to do the styling of the table that you will see later in this file, color, width,
border-style, border width etc. can be changed here-->
<style>
.otree-title{
    background: white;
    text-align: center;
    display:none;
}

    .extable th {  width:150px; background-color: lightblue; padding: 6px; border: solid 1px ;}
    .extable td { padding: 6px; border: solid 1px ; background-color: lightgrey }



</style>

{% endblock %}

{% block title %}
<!--this is the title that will appear in the tab-->
    Title that will appear in the tab
{% endblock %}

{% block content %}
<!-- <br> will start a new line, also possible to set more <br>'s below each other-->
<br>
<!--this is the title that will appear on top of your page-->
<h1>HTML-Overview</h1>
<p>This html file, serves to give you a first overview about html.
It gives you some tools that might be helpful for programming the survey. You may just compare the code with the output that
you can see when starting your otree project in the localhost environment.
If you are interested in further material that is not covered here, you might find this website helpful:
<!-- This is how you can include links in a file-->
<a href="https://www.w3schools.com/html/html_intro.asp">HTML-Tutorial</a>. </p>

<hr>

<!--with <hx> a heading can be created, the higher the number inserted for x, the smaller the heading will be
    make sure that the statement is closed with </hx>-->
<h3> Headings </h3>
<p>To add a heading one uses the &lthx&gt &lt/hx&gt tag. For the x you just insert a number between 1 and 6, the larger
the number, the smaller the heading will be.</p>
<h5> This is another heading </h5>
<p>While the first heading is created with &lth3&gt &lt/h3&gt, the second one is done with &lth5&gt &lt/h5&gt. You can see
directly see that the second one is way smaller than the first one.</p>

<!--hr will create a horizontal line, can be used to separate stuff on your html site-->
<hr>

<h3>Paragraphs</h3>
<!-- using <p> will start a new paragraph, again make sure that close the paragraph with </p>-->
<b> &ltp&gt </b> text <b> &lt/p&gt </b>
<p> To create a paragraph use the tag <b> &ltp&gt </b> and close it with  the tag <b> &lt/p&gt </b>. Everything that is written between
    these two tags will appear in your paragraph. When using the paragraph text you will have no blank lines between your text .
    To see an example code just check out the Html_overview file in your otree project!</p>

<p>If you put create another paragraph it will appear just below the first one, note that there is a space between
    two paragraphs.</p>
<hr>

<h3>Text styles</h3>

This is how you can
<!--the following shows the syntax of an unordered list -->
<ul>
   <p> <li><em> write cursive,</em></li> &emsp; (&ltem&gt&lt/em&gt)</p>
   <p><li><b> write in bold font, </b></li> &emsp; (&ltb&gt&lt/b&gt)</p>
   <p> <li> mark <mark>parts</mark> in the text</li> &emsp; (&ltmark&gt&lt/mark&gt)</p>
   <p> <li> write a word in a different  <span style="color:red">color</span></li>(&ltspan&gt style ="color:colorYouWant"> textYouWantToColor &lt/span&gt)</p>
   <p> <li> underline a <u>word </u> in the text </li> &emsp; (&ltu&gt&lt/u&gt)</p>

</ul>

<br>
<p>Of course you can combine all of these styles in one text. Here is a text in which words are written
<em>cursive</em>, <b>bold</b>, <span style="color:red">colored</span>, and in that parts are <mark>marked</mark> and <u>underlined</u>.</p>
<p>There are a lot of other styling possibilities, check out for example <a href="https://www.w3schools.com/html/html_formatting.asp">HTML-styles</a>.</p>
<hr>

<h3>Formatting</h3>
<p>Here are some examples that are useful to structure the page:</p>
<ul>
   <p> <li>draw a horizontal line (see the lines on this page)</li> &emsp; (&lthr&gt) no need to close the tag afterwards</p>
    <p><li> using indentations </li> &emsp;(& emsp;)</p>
    <p>this is not indented</p>
        <p> &emsp; indented test</p>

   <p> <li> drawing a box around a text</li> </p>

    <div class="mb-1 border pt-2 pb-2 ps-2 px-2">
        <p> &emsp;This is how you can plot a box around elements on your page</p>
    </div>

   <p>&emsp; (&ltdiv class="mb-1 border pt-2 pb-2 ps-2 px-2"&gt) </p>
   <p> &emsp; after this statement code all the elements that should appear in the box, the clos the div-container with </p>
   <p> &emsp; (&lt/div&gt )</p>


    <p style="text-indent:20px;"> If you want to adapt the box,
            you need to change the parameters     within the class, for more details see:</p>
    <p style="text-indent:20px;">
            <a href="https://getbootstrap.com/docs/5.0/utilities/spacing/">Bootstrap</a> or <a
                    href="https://stackoverflow.com/questions/41574776/what-is-class-mb-0-in-bootstrap-4">Box-adaption-parameters</a>.
        </p>


</ul>
<hr>

<h3>Comments</h3>
<p> To comment your code use the following command:</p>
<p>&lt!--  this is a comment --&gt </p>
<hr>
<br>
<h3>Lists</h3>
<!--This div container can be used to make  -->
<div class="mb-1 border pt-2 pb-2 ps-2 px-2">
<p>To get a list with bullet points (e.g. the one in the text style part from above), the following code snippets might be useful:
</p>
<br>

<p>&ltul&gt  &emsp; (the ul tag indicates that it will be an unordered list)</p>
<br>
<p>&emsp;&ltli&gt&lt/li&gt &emsp; (everything that will be written between the two li tags will appear in the bullent point</p>
<br>
<p>&emsp;&ltli&gt&lt/li&gt &emsp; (Of course you may add as many points as you want)</p>
<br>
<p>&lt/ul&gt &emsp; (do not forget to close the tag)</p>
<br>
</div>

More list options can be found on : <a href="https://www.freecodecamp.org/news/html-list-how-to-use-bullet-points-ordered-and-unordered-lists/">list options</a>.
<hr>

<h3>Tables</h3>
<p>This part will give you a short introduction to simple tables that could be useful for your surveys.</p>

<!--Here is the example code of a table -->
<!--with the class attribute one will use the styling that was done  in the beginning of the page -->
 <table class ="extable">
     <!--set the caption of the table -->
     <caption>This is a table</caption>
                 <!--everything that is in the thead tag, will be the head of the table(colored lightblues in this example here -->
                <thead>
                    <tr>
                        <!--set all the column labels that you want to use, add as many as you need-->
                        <th>Name</th>
                        <th>Age</th>
                        <th>Favorite color</th>
                        <th> Field of study </th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <!--in each of the tr tag in the body of the table one specifies the values of one row-->
                        <td> Anna </td>
                        <td> 25 </td>
                        <td> blue </td>
                        <td> Politics </td>
                    </tr>
                    <tr>
                        <!--set the entries for another row-->
                        <td> Ben </td>
                        <td> 26 </td>
                        <td> green </td>
                        <td> Economics </td>
                    </tr>
                </tbody>
 </table>

<div class="mb-1 border pt-2 pb-2 ps-2 px-2">
<p>This is how you can code the table:</p>
<p>&lt table class:"Name of sytle class you created at beginning" &gt</p>
<p>&emsp;&lt caption&gt Caption of table &lt/caption&gt</p>
    <p>&emsp; &emsp;&lt thead &gt</p>
    <p>&emsp; &emsp; &emsp;&lt tr &gt</p>
    <p>&emsp; &emsp; &emsp; &emsp; &lt th &gt Label of first column &lt/th&gt</p>
    <p>&emsp; &emsp; &emsp; &emsp; &lt th &gt Label of second column column &lt/th&gt</p>
    <p>&emsp; &emsp; &emsp;&lt /tr &gt</p>
    <p>&emsp; &emsp;&lt /thead &gt</p>

    <p>&emsp; &emsp;&lt tbody &gt</p>
      <p>&emsp; &emsp; &emsp;&lt tr &gt</p>
    <p>&emsp; &emsp; &emsp; &emsp; &lt td &gt row (first row) entry of first column &lt/td&gt</p>
    <p>&emsp; &emsp; &emsp; &emsp; &lt td &gt row (first row) entry of the second column &lt/td&gt</p>
    <p>&emsp; &emsp; &emsp;&lt /tr &gt</p>
     <p>&emsp; &emsp; &emsp;&lt tr &gt</p>
    <p>&emsp; &emsp; &emsp; &emsp; &lt td &gt row (second row) entry of first column &lt/td&gt</p>
    <p>&emsp; &emsp; &emsp; &emsp; &lt td &gt row (second row) entry of the second column &lt/td&gt</p>
    <p>&emsp; &emsp; &emsp;&lt /tr &gt</p>
    <p>&emsp; &emsp;&lt /tbody &gt</p>
<p>&lt/table&gt</p>

</div>

More detailed descriptions can be found here: <a href=" https://www.w3schools.com/html/html_tables.asp"> HTML tables </a>,
<a href=" https://www.freecodecamp.org/news/html-tables-table-tutorial-with-css-example-code/"> table tutorial </a>
<hr>

<!--Adding images -->
<h3>Images</h3>
<p>To include an image in the html-file, it must be stored in the right place of your otree project. The right folder is
the "images"-folder, which is the subfolder of the static folder. As a little reminder, the picture below shows the folder
structure of an otree project.</p>

<!--code for adding the image, make sure the image is stored at the right place-->
<img   width="50%" height="50%" src="{% static 'images/folder_structure.png' %}" />
<br>

<p>A possibility to include an image is to use the following code snippet:</p>
<p>&ltimg width="50%" height="50%" src=" 	&#123 % static 'images/pictureName' % 	&#125" /&gt</p>
<p>Of course you can vary the sizes of width and height to increase or decrease the picture size.</p>
<p>See <a href=" https://otree.readthedocs.io/en/self/misc/advanced.html">Images in otree </a>
    for further information</p>
<hr>

<h3>Remarks</h3>
<p>Make sure that every part of your code is written within a block (this also includes comments!), otherwise your code will not run
    and you will receive the error message: "TemplateSyntaxError: All content must be inside a block tag".</p>

<div class="mb-1 border pt-2 pb-2 ps-2 px-2">
    <p>A block has the following structure:</p>
    <b>to open a block:</b> &#123 % block WhatIsBlockUsedFor % &#125<br>
    <p> <b>to close the  block </b> &#123 % endblock  % &#125</p>

    <p>If you are using a style block (see the first block in this html file), you need to include the style tag in which you embed
    your code.</p>
</div>
<br>

<br>
<hr>
<!--this is how you code the next button in otree-->
 <button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>
{% endblock %}
