{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
{% endblock %}

{% block scripts %}
<!-- <script>
    // window onload guarantees that the first thing once the window is loaded is executing this function
    window.onload = function () {
        //import variables 
        var label = {{ participant_label }}; //tic number

    //build urls 
    //new link
    var complete_link = "https://mingle.respondi.com/s/1608318/ospe.php3?c_0002=1&return_tic=" + label;
    //c_002=1

    window.location.replace(complete_link);}
</script> -->
{% endblock %}

{% block content %}

<p> 
    Mit 'Weiter' gelangen Sie zum ersten Teil dieser Umfrage.
    <!-- todo: text für wir leiten sie jetzt weiter -->
    {{ participant.gender_count_male }}
    <!-- works -->
</p>

<button class="otree-btn-next btn btn-primary next-button otree-next-button">
    Weiter
</button>

{% endblock %}