{% extends "global/GlobalWelcome.html" %}
{% load otree static %}


{% block title %}
{% endblock %}

{% block content %}
<input id="device_type" type="hidden" name="device_type" />
<input id="operating_system" type="hidden" name="operating_system" />
<input id="screen_height" type="hidden" name="screen_height" />
<input id="screen_width" type="hidden" name="screen_width" />


<script src="{% static 'persist-raw.js' %}"></script>

<br>
<h2> START APP </h2>
<hr>



{{ formfield "entry_question"}}

<p><b>Are you eligible to take part in this survey??</b></p>
<input type="radio" name="eligible_question" value="1" class="persist" /> Yes
<br>
<input type="radio" name="eligible_question" value="2" class="persist" /> No
<br>

<button class="otree-btn-next btn btn-outline-success next-button otree-next-button">
    Next
</button>

{% endblock %}